[package]
name = "huelib"
description = "Rust bindings for the Philips Hue API"
version = "0.7.0"
authors = ["yuqio <niklas.sauter@gmx.de>"]
edition = "2018"
homepage = "https://github.com/yuqio/huelib-rs"
repository = "https://github.com/yuqio/huelib-rs"
readme = "README.md"
license = "MIT"
categories = ["api-bindings"]
keywords = ["philips", "hue", "light"]

[dependencies]
ureq = { version = "1.1", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1"
serde_json = "1.0"
chrono = { version = "0.4", features = ["serde"] }
thiserror = "1.0"
